
#site-box { 
    Width : 950px ;
    background-color: #800000;
    background-image: linear-gradient(transparent 95%, rgba(0,0,0,.06)50%,rgba(0,0,0,.06)),linear-gradient( 90deg, transparent 95%, rgba(0,0,0,.06)50%, rgba(0,0,0,.06));
    background-size: 16px 16px;
    background-repeat: repeat;
}

.titlebox{
    /* font-size: 60px; */
    /* font-family: sans-serif; */
    color: black;
    background-color: #800000;
    background-image: linear-gradient(transparent 95%, rgba(0,0,0,.06)50%,rgba(0,0,0,.06)),linear-gradient( 90deg, transparent 95%, rgba(0,0,0,.06)50%, rgba(0,0,0,.06));
    background-size: 16px 16px;
    background-repeat: repeat;
    

}

.title{
    font-size: 60px;
    font-family: sans-serif;
    color: black;
    background-color: #800000;
    background-image: linear-gradient(transparent 95%, rgba(0,0,0,.06)50%,rgba(0,0,0,.06)),linear-gradient( 90deg, transparent 95%, rgba(0,0,0,.06)50%, rgba(0,0,0,.06));
    background-size: 16px 16px;
    background-repeat: repeat;
    display: flex;
    padding-top: 60px;
    justify-content: center;
}

.pop{ 
    display: none;
} 



/* ul{
	font-size: 21px;
	display: flex;
	justify-content: space-around;
	width: 500px;
	color:	black
	
	
} */

nav{
    display: flex; 
    justify-content: space-between;
    text-align: center; 
    
}
nav ul{
margin: 10px;
padding: 30px ;
}
nav ul li{

display: inline-block;
width: 18%; 
min-width: 90px; 
} 
nav ul li a{
text-decoration: none;
color: black;
}

.sex1{
    padding: 20px;

    
}
.sex2{
    padding: 20px;
    
}

#men{
    text-align: center;
    
}

#women{
    text-align: center;
}



#oldmen{ 
    height: 300px;
    width: auto;
    padding-left: 0px;
    padding-top: 20px;
}
#baby{
    height: 300px;
    width: auto;
    padding-left: 0px;
    padding-top: 20px;
    display: none;
}

.img_box1{
    display: flex;
    text-align: center;
    justify-content: space-around;
}

#cpu_hand_gu{
    width: auto;
    height: 200px;
}
#cpu_hand_ch{
    width: auto;
    height: 200px;
}
#cpu_hand_pa{
    width: auto;
    height: 200px;
}
#botton__{
    width: auto;
    height: 200px;
}




#cpu{
    width: 300px;
}


#strat_botan{
    width: 300px;
}

#oldwomen{
    height: 300px;
    width: auto;
    padding-left: 10px;
    padding-top: 20px;

}

button{
  cursor: pointer;
  width: auto;
    padding:0;
    margin:0;
    background:none;
    border:0;
    font-size:0;
    line-height:0;
    overflow:visible;
    cursor:pointer;
}
.choice{
    display: flex;
    text-align: center;
    justify-content: space-around;

}

.choice__{
    flex-direction: column;

}
.choice_hand{
    height: 30px;
    padding-top: 0px;
    font-size: 50px;
}

.hand_box{
    padding-top: 20px;
}

#my_hand_gu{
    width: auto;
    height: 200px;
}
#my_hand_ch{
    width: auto;
    height: 200px;
}
#my_hand_pa{
    width: auto;
    height: 200px;
}

/* とりあえず・・・ */
p{
    font-size:200%;
    text-align: center;
    /* border-bottom:1px solid #fff; */
    height:200px;
}
ul{
    padding: 0;
    /* border-top: 1px solid #000000; */
    display:table;  /* 定義 */
    table-layout: fixed;
    width:100%;
}
li{
    text-align: center;
    list-style-type:none;
    /* border: 1px solid #666; */
    background-color: #FFF;
    display:table-cell;  /* 定義 */
    cursor: pointer;
}
li:hover{
    background: #0066CC;
    color:#fff;
}